
.detail {
  background: white;
  width: 512px;
  min-height: 40rem;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.16); /* 그림자 */ 
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 10px;
  overflow: hidden;
}

.detail-back {
  position: absolute;
  margin: 1rem 1.3rem;

  background: none;
  border: none;
  font-size: 1.85rem;
  color: white;
}

.detail-back:hover {
  background: none;
}

.detail-back svg:hover {
  cursor: pointer;
}

.detail-title {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  background: #2e5583;;
  color: white;
}

.detail-content {
  margin: 1rem;
}

.detail-textarea {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.detail-textarea textarea {
  font-family: 'EliceDigitalBaeum_Regular';
  min-width: 450px;
  min-height: 29rem;
  margin: 0 auto;
  padding: 10px;
  resize: none;
  border: none;
  outline: none;
  border: 0.01rem solid #eeeeee;
  border-radius: 5px;
}

.detail-buttons {
  margin: 0.8rem;
  text-align: right;
}

.detail-buttons button {
  width: 3.5rem;
  height: 2rem;
  margin-left: 1rem;
  border: 1px solid #758eac;
  border-radius: 0.5rem;
  background: #758eac;
  color: white;
  font-size: 0.9rem;
  font-family: 'EliceDigitalBaeum_Regular';
}

.detail-buttons button:hover {
  cursor: pointer;
  background: #a3b2c9;
  border-color: #a3b2c9;
}