.palette {
  display: flex;
  justify-content: center;
}

.color {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.5;
  transition: all 0.2s;
  cursor: pointer;
}

.color:hover, .plus:hover, .color.active, .color:active {
  opacity: 1;
}

.color + .color {
  margin-left: 2rem;
}

.plus {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 2rem;
  opacity: 0.5;
  transition: all 0.2s;
  cursor: pointer;
  border: 0.1rem solid gray;
  border-style: dashed;
  color: gray;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.5rem;
}

/* .back {
  display: none;
}

.back img {
  width: 1.5rem;
  height: 1.5rem;
  color: #2e5583;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
} */