.palette {
  display: flex;
  justify-content: center;
}

.color {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.5;
  transition: all 0.2s;
  cursor: pointer;
}

.color:hover {
  opacity: 0.75;
}

.color.active, .color:active {
  opacity: 1;
}

.color + .color {
  margin-left: 2rem;
}

/* .back {
  display: none;
}

.back img {
  width: 1.5rem;
  height: 1.5rem;
  color: #2e5583;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
} */