.todo-item {
  padding: 1.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s;
  user-select: none;
}

.todo-item:hover {
  background: #eff5fc;
}

.todo-item:hover .remove, .todo-item:hover .more {
  opacity: 1;
}

.todo-item + .todo-item {
  border-top: 1px solid #f1f3f5;
}


.remove {
  margin-right: 1rem;
  color: #ff3333;
  font-weight: 600;
  opacity: 0;
}

.more {
  margin-right: 0.5rem;
  color: #2e5583;
  font-weight: 600;
  opacity: 0;
}

.todo-text {
  flex: 1;
  word-break: break-all;
}

.checked {
  text-decoration: line-through;
  color: #adb5bd;
}

.check-mark {
  font-size: 1rem;
  /* line-height: 1rem; */
  margin-right: 1rem;
  /* margin-left: 1rem; */
  color: #758eac;
  font-weight: 500;
}