.todoTemplate {
  width: 80vw;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #ffffff;
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: 0.2rem 0.2rem 0.6rem #748EAC;
}

.title {
  padding: 2rem;
  background: #2E5583;
  color: #ffffff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.inputItem {
  padding: 1rem;
  border-bottom: 0.1rem solid #2E5583;
}

.itemList {
  min-height: 2rem;
}