
.todo-template {
  background: white;
  width: 512px;
  min-height: 40rem;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.16); /* 그림자 */ 
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 10px;
  overflow: hidden;
}

.user-info {
  position: absolute;
  margin: 0 auto;
  margin-top: 1rem;
  /* text-align: right; */
  /* justify-self: right; */
  right: calc(50% - 256px + 1.5rem);
  font-size: 1.5rem;
  color: white;
}

.title {
  padding: 2rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
  background: #2e5583;;
  color: white;
}

.form-wrapper {
  padding: 1rem;
  border-bottom: 1px solid #2e5583;
}

.todos-wrapper {
  min-height: 5rem;
}

.palette-wrapper {
  padding: 2rem;
  background: #f2f3f5;
}